body {
    background-color: #3cb371;
}

.bodywhite {
    background-color: white;
}

#floated {
    float: left
}

nav{
    background-color: white;
    padding:0;
    margin-left:0px;
}

.navbar-btn {
    border-color: #3cb371
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #3cb371;
    background-color: #3cb371;
    height: 34px;
    margin: 0;
    white-space: nowrap;
    padding: 6px 12px;
  }

.navbar li{
    display: inline 
}
